# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Dustyroom
description: >- # this means to ignore newlines until "baseurl:"
  Dustyroom makes games / music / assets / interactive experiences.
twitter_username: _dstrm
minimal_mistakes_skin: neon
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  title:
  logo: "/assets/images/dr-logo-light-transp.png"
  avatar : "/assets/images/dr-logo-light-transp.png"
  bio    : "**Dustyroom** makes games / music / assets / interactive experiences."
  home: "/"
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/_dstrm"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/_dstrm"

defaults:
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      sidebar:
        nav: "project-groups"
      share: false
  # _projects
  - scope:
      path: "_projects"
      type: projects
    values:
      layout: single
      author_profile: true
      sidebar:
        nav: "project-groups"
      share: false

collections:
  projects:
    output: true
    permalink: /:collection/:path/

atom_feed:
  hide: true

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-53337407-2"
