<form action="https://www.paypal.com/donate" method="post" target="_blank">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="G37XR77AQM9MG">
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" title="Donate via PayPal" alt="Donate with PayPal button" border="0">
    <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0">
</form>
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
<script type='text/javascript'>kofiwidget2.init('Buy us a coffee', '#154a61', 'Z8Z523ZDI');kofiwidget2.draw();</script> 
