
/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { width: 100%; /*height: 100%;*/ font-family: Helvetica, Verdana, Arial, sans-serif; }
body { }
p.header, p.footer { display: none; }
div.logo {
    float: left;
/*    background: url(logo.png) 0 0 no-repeat;*/
    position: relative;
    z-index: 10;
    font-size: 9pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 38px;
    line-height: 38px;
    padding: 0 5px;
    color: #474747;
}

div.title {
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    margin: 0 1px 0 0;
    float: left;
    color: #dd9696;
    text-align: right;
    font-size: 18px;
    position: relative;
    z-index: 10;
    font-size: 9pt;
    letter-spacing: 2px;
    text-transform: uppercase;
}

span.txtbg {
     color: #fff;
    background-color: #DD9696;
    padding: 3px 5px 2px 7px;
    border-radius: 2px;   
}

.template-wrap {
    position: relative;
    margin-top:45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:960px;
    background: #fff;
}

.template-wrap canvas {
    margin: 0 0 0px 0; 
    position: relative; 
    z-index: 9; 
    /*border: solid 10px #fff;*/
    border-bottom: none;
 
    
}
.fullscreen {
    float: right;
    position:
    relative; z-index: 10;
    padding-right: 5px;
}

div.information {
    margin-top:15px;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #959595;
    font-size: 8pt;
    letter-spacing: 2px;
    line-height: 180%;
    text-transform: uppercase;
}

div.screenshotcontainer {
-moz-box-shadow:    inset 0 25px 25px #eaeaea;
   -webkit-box-shadow: inset 0 25px 25px #eaeaea;
   box-shadow:         inset 0 25px 25px #eaeaea;
    
    margin-top:25px;
    padding-top:25px;
    padding-bottom:25px;
    background: #f6f6f6;
}

div.screenshotheadertext{
    margin-top:15px;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #919191;
    font-size: 8pt;
    letter-spacing: 2px;
    line-height: 180%;
    text-transform: uppercase;
}

div.screenshots {
    margin-top: 20px;
    display:block;
    width:960px;
    margin-left:auto;
    margin-right:auto; 
}

img.screenshot {
margin-bottom:10px;

}

a {
color: #919191 !important;
text-decoration: underline;
}

a:active {
color: #fff !important;
}

a:hover {
color: #000 !important;
}

a:visited {
color: #919191;
}

body.template { }
.template .template-wrap { }
.template .template-wrap canvas { }


body {
	background: #F6F6F6
        /*url(background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat*/;
}

h1 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	font-variant: normal;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 26.4px;
	color:#ede5c9;
	text-align: center;
	padding: 0px;
	text-decoration: none;
}

h2 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	font-style: normal;
	text-decoration: underline;
	font-variant: normal;
	font-weight: 200;
	letter-spacing: 3px;
	line-height: 26.4px;
	color:#ede5c9;
	text-align: center;
	padding: 0px;
}

h3 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
	font-variant: normal;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 26.4px;
	color:#ede5c9;
	text-align: center;
	padding: 0px;
	text-decoration: none;
}


h4 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 10px;
	font-style: italic;
	font-variant: normal;
	font-weight: 200;
	letter-spacing: 2px;
	line-height: 26.4px;
	color: #2e292a;
	text-align: center;
	padding: 0px;
	text-decoration: none;
}


div.verticalspace {padding: 5px;}
div.verticalspacemedium {padding: 25px;}
div.verticalspacebig {padding: 50px;}



table, th, td {
	width: 100%;
    text-align:center;
    vertical-align:middle;

}

.fb-share-button{
    position:relative;
    top:-6px;
}


img.imgbutton {
    margin: 50px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.textlink, .textlink:hover, .textlink:visited a {
    font-size: 11px;
	font-style: italic;
	text-decoration: underline;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 10px;
	color:#607D8B;
}
.text {
    display: block;
     margin-left: auto;
     margin-right: auto;
    font-size: 11px;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 12px;
	color:#5A6067; 





