body {
 margin:0;
 padding:0;
 color:#fff6fb;
 font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
 line-height:1.1;
}

.grid__item .archive__item-title {
 margin-top:0.5em;
 font-size:0.8em;
}

@media (min-width: 48em) {
 .grid__item .archive__item-excerpt {
  display:block;
  font-size:.65em
 }
}

@media (min-width: 48em) {
 .grid__item .archive__item-teaser {
  max-height:200px
 }
}

