---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif              : Georgia, Times, serif;
$sans-serif-narrow  : "Nunito Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace          : Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//custom css

body {
 color:#e4decf;
 line-height:1.1;
 background: #1d1c21;
}

a {
 color:#f21368;
 text-decoration: none;
}

::selection {
 color:#fff;
 background:#555;
}

input, textarea, select {
    display: inline-block;
    width: 80%;
    padding: 0.51em;
    margin-bottom: 0.5em;
    color: #fff6fb;
    background-color: #141010;
    border: #e4decf;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.125);
    font-size: 0.6em;
}

.archive__item-title {
 font-family:"Helvetica Neue","Nunito Sans",-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Lucida Grande",Arial,sans-serif;
 line-height:1;
}

.page__hero {
    margin-bottom: 0.1em;
}

//.page__hero--overlay {
//    font-size: 0px;
//}

.page__content p,
.page__content li,
.page__content dl {
 font-size:0.65em;
}

.page__title {
 margin-bottom: 1.1em;
}

.page__content p {
 margin:0 0 1em;
}

.sidebar>* {
 margin-top:0.1em;
 margin-bottom:1em
}

@media (min-width: 64em) {
 .sidebar {
  float:left;
  width:calc(200px - 1em);
  opacity:1;
  margin-bottom:400px;
  -webkit-transition:opacity 0.2s ease-in-out;
  transition:opacity 0.2s ease-in-out
 }
}
.sidebar {
 clear:both;
}

.sidebar li {
 font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
 font-size:.7em;
 padding-bottom: 3px;
 line-height:1.0
}

sidebar p {
 font-size: .7em;
 line-height: 1.1;
}

.sidebar p {
 font-size: .7em;
 line-height: 1.1;
}

.sidebar.sticky {
 // Avoid sidebar scrolling.
 overflow-y:visible;
}
  
.grid__item .archive__item-title {
 margin-top:0.5em;
 padding-bottom: 0.15em;
 font-size:0.8em;
}

.grid__item {
 margin-bottom:0.5em
}

@media (min-width: 48em) {
 .grid__item .archive__item-excerpt {
  display:block;
  font-size:.65em
 }
}

@media (min-width: 48em) {
 .grid__item .archive__item-teaser {
  max-height:250px
 }
}

@media (min-width: 37.5em) {
 .grid__item .archive__item-teaser {
  max-height:350px
 }
}

form {
 padding:0.1em;
 background-color:#1d1c21;

}

.nav__sub-title {
    display: inline-flex;
    margin: 0.25rem 0;
    padding: 0.25em;
    font-family: "Helvetica Neue","Nunito Sans",-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Lucida Grande",Arial,sans-serif;
    font-size: .75em;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #e4decf;
/*  color: #1d1c21;*/
/*  background-color: #e4decf;*/
}

.search__toggle {
    color: #e4decf;
}

.greedy-nav {
 min-height:1em;
 background:#1d1c21;
 color:#e4decf;
}

.greedy-nav a {
 color:#e4decf;
}

.author__avatar {
 display:table-cell;
 vertical-align:top;
 width:36px;
 height:36px
}

.page__meta,
.comment__date {
 margin-top:2em;
 color:#fff8fc;
 font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
 font-size:.75em;
  display:none;
}

.page__content a:not(.btn){
  border: 1px solid;
  padding:0.3em;
  line-height: 2.5em;
}

@media (min-width: 64em) {
 .author__avatar {
  display:block;
  width:auto;
  height:auto
 }
}
.author__avatar img {
 max-width:100px;
 border-radius:50%
}
@media (min-width: 64em) {
 .author__avatar img {
  padding:0px;
  border:none;
 }
}

.page__footer {
 clear:both;
 float:left;
 margin-left:0;
 margin-right:0;
 width:100%;
 margin-top:3em;
 color:#fff8fc;
 -webkit-animation:intro 0.3s both;
 animation:intro 0.3s both;
 -webkit-animation-delay:0.45s;
 animation-delay:0.45s;
 background-color:#1d1c21;
  font-size: 0.8em;
}
