---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif              : Georgia, Times, serif;
$sans-serif-narrow  : "Nunito Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace          : Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//custom css

body {
 color:#e4decf;
 line-height:1.1;
 background: #1d1c21;
}

::selection {
 color:#fff;
 background:#555;
}

.page__hero {
    margin-bottom: 0.1em;
}

.page__content p,
.page__content li,
.page__content dl {
 font-size:0.65em;
}

.page__title {
 margin-bottom: 1.1em;
}

.page__content p {
 margin:0 0 1em;
}

.sidebar li {
 font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
 font-size:.7em;
 line-height:1
}

.grid__item .archive__item-title {
 margin-top:0.5em;
 font-size:0.8em;
}

@media (min-width: 48em) {
 .grid__item .archive__item-excerpt {
  display:block;
  font-size:.65em
 }
}

@media (min-width: 48em) {
 .grid__item .archive__item-teaser {
  max-height:200px
 }
}

.greedy-nav {
 min-height:1em;
 background:1d1c21;
 color: e4decf;
}

.page__footer {
 background-color:#1d1c21;
}

